.cr-dropdown {
  outline: none;
  background-color: var(--background);
  position: relative;

  .dropdown {
    width: 100%;

    &-toggle {
      width: 100%;
      background: var(--main-bg) !important;
      border-color: var(--orders-border-color);
      height: calc(var(--gap) * 8.3);
    }

    &-menu {
      width: 100%;
      background: var(--background-dropdown);
    }

    &-item {
      color: var(--base-3);
    }
  }
}
