.pg-history-elem__pagination {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: calc(var(--gap) * 2.5) 0 0;

    button {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: calc(var(--gap) * 4.5);
        outline: none;
        padding: 0;

        &:disabled {
            cursor: default;
        }
    }
}
