.pg-history-elem__pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: calc(var(--gap) * 2.5) 0 0;

  button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin-left: calc(var(--gap) * 4.5);

    &:disabled {
      cursor: default;
    }
  }
}
