.cr-alert-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: var(--alert-icon-size);
  border-radius: 0 3px 3px 0;
  left: 0;
  position: absolute;

  &--success {
    background-color: var(--open-orders-order-buy);
  }

  &--error {
    background-color: var(--open-orders-order-sell);
  }
}
