.setup-register-form {
  padding-top: 36px;

  .pg-password-pop-up {
    background: var(--setup-background-color);

    .pg-password-strength-tip-text {
      color: var(--setup-info-secondary-font-color);
    }

    .pg-password-pop-up__strength-title,
    .pg-password-strength-tip-title {
      color: var(--setup-info-secondary-font-color);
    }
  }
}
