/docs
/mocks
/node_modules
/public
/scripts
/spec

/src/api
/src/assets
/src/charting_library
/src/components
/src/constants
/src/containers
/src/custom
/src/helpers
/src/modules

/src/routes
/src/screens
/src/styles
/src/themes
/src/translations

/src/App.test.tsx
/src/App.tsx
/src/index.tsx
