{
    "jsxBracketSameLine": true,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.scss", "**/*.pcss", "**/*.html"],
            "options": {
                "singleQuote": false,
                "tabWidth": 4
            }
        }
    ],
    "jsxSingleQuote": false,
    "printWidth": 120,
    "tabWidth": 4,
    "endOfLine": "auto",
    "semi": true,
    "tslintIntegration": true,
    "stylelintIntegration": true,
    "ignorePath": ".gitignore"
}
