<!-- /views/admin/master.html -->
<!doctype html>

<html>
    <head>
        <title>{{.title}}</title>
        <link rel="shortcut icon" href="/public/assets/favicon.ico">
        {{template "head" .}}
        {{ if .cssFiles}}
            {{range .cssFiles}}
                <link href={{ . }} rel="stylesheet">
            {{end}}
        {{end}}
    </head>

    <body>
        <div id={{ .rootID }}></div>
        {{template "content" .}}
        <hr>
        {{include "layouts/footer"}}
        {{ if .jsFiles}}
            {{range .jsFiles}}
                <script src="{{ . }}"></script>
            {{end}}
        {{end}}
    </body>
</html>
