.cr-order-book {
  tr {
    td:nth-child(1) {
      text-align: left;
    }

    td:nth-child(2) {
      width: 100%;
    }

    td:nth-child(3) {
      text-align: right;
    }

    th:nth-child(1) {
      text-align: left;
    }

    th:nth-child(3) {
      text-align: right;
    }
  }
}
