.btn-primary {
  background: var(--button-primary-cta-background-color);
  border: none;
  color: var(--button-primary-cta-text-color);
  font-weight: var(--button-font-weight);
  transition: 0.2s;

  &:hover {
    background-color: var(--button-primary-cta-background-color-hover);
    color: var(--button-primary-cta-text-color-hover);
    transition: 0.2s;
  }

  &:active,
  &:focus {
    background: var(--button-primary-cta-background-color-active);
    border: none;
    box-shadow: none;
    color: var(--button-primary-cta-text-color-active);
  }

  &:disabled {
    background: var(--button-primary-cta-background-color-disabled);
    border: none;
    color: var(--button-primary-cta-text-color-disabled);
    cursor: not-allowed;
  }
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  background: var(--button-primary-cta-background-color-active);
  box-shadow: none;
  color: var(--button-primary-cta-text-color-active);
}

.btn-success {
  background: var(--button-bids-background-color);
  border: none;
  color: var(--button-bids-text-color);

  &:hover {
    background: var(--button-bids-background-color-hover);
    color: var(--button-bids-text-color-hover);
    transition: 0.2s;
  }

  &:active,
  &:focus {
    background: var(--button-bids-background-color-active);
    border: none;
    box-shadow: none;
    color: var(--button-bids-text-color-active);
  }

  &:disabled {
    background: var(--button-bids-background-color-disabled);
    border: none;
    color: var(--button-bids-text-color-disabled);
    cursor: not-allowed;
  }
}

.btn-success:not(:disabled):not(.disabled):active:focus {
  background: var(--button-bids-background-color-active);
  border: none;
  box-shadow: none;
  color: var(--button-bids-text-color-active);
}

.btn-danger {
  background: var(--button-asks-background-color);
  border: none;
  color: var(--button-asks-text-color);

  &:hover {
    background: var(--button-asks-background-color-hover);
    color: var(--button-asks-text-color-hover);
    transition: 0.2s;
  }

  &:active,
  &:focus {
    background: var(--button-asks-background-color-active);
    border: none;
    box-shadow: none;
    color: var(--button-asks-text-color-active);
  }

  &:disabled {
    background: var(--button-asks-background-color-disabled);
    border: none;
    color: var(--button-asks-text-color-disabled);
    cursor: not-allowed;
  }
}

.btn-danger:not(:disabled):not(.disabled):active:focus {
  background: var(--button-asks-background-color-active);
  border: none;
  box-shadow: none;
  color: var(--button-asks-text-color-active);
}

.btn-outline-primary {
  border-color: var(--button-outline-primary-cta-border-color);
  color: var(--button-outline-primary-cta-text-color);
  font-weight: var(--button-font-weight);
  transition: 0.2s;

  &:hover {
    border-color: var(--button-outline-primary-cta-background-color-hover);
    background-color: var(--button-outline-primary-cta-background-color-hover);
    color: var(--button-outline-primary-cta-text-color-hover);
    transition: 0.2s;
  }

  &:focus {
    box-shadow: none;
  }

  &:active{
    background: var(--outline-button-primary-cta-background-color-active);
    border-color: var(--outline-button-primary-cta-background-color-active);
    box-shadow: none;
    color: var(--button-outline-primary-cta-text-color-active);
  }

  &:disabled {
    color: var(--button-outline-primary-cta-text-color-disabled);
    cursor: not-allowed;
  }
}

.btn-secondary {
  background: var(--button-secondary-cta-background-color);
  color: var(--button-secondary-cta-text-color);
  border: none;

  &:hover {
    background: var(--button-secondary-cta-background-color-hover) !important;
    border: none !important;
    color: var(--button-secondary-cta-text-color-hover);
    transition: 0.2s;
  }

  &:active, &:focus {
    background-color: var(--button-secondary-cta-background-color-active) !important;
    color: var(--button-secondary-cta-text-color-active) !important;
    border: none !important;
    box-shadow: none !important;
    transition: 0.2s;
  }

  &:disabled {
    color: var(--button-secondary-cta-text-color-disabled);
    cursor: not-allowed;
  }
}
