.cr-mobile-modal {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  height: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 999;

  &--open {
    height: 100vh;
  }

  &__block {
    background: white;
    bottom: 0;
    height: 0;
    left: 0;
    margin-top: 20px;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: all ease 3s;

    &--open {
      height: 100vh;
    }
  }
}
