.cr-mobile-table-row {
  &__amount {
    display: flex;
    font-size: 14px;
    margin-bottom: 12px;

    &-value {
      padding-right: 5px;
      color: var(--primary-text-color);
    }

    &-currency {
      text-transform: uppercase;
      color: var(--primary-text-color);
    }
  }

  &__date {
    font-size: 14px;
  }
}
