/* stylelint-disable */
.cr-mobile-wallets-buttons {
  position: fixed;
  border: 0;
  left: 0;
  right: 0;
  height: 90px;
  bottom: 0;
  z-index: 999;
  background: var(--body-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;

  button {
    flex: 1;
    &:first-child {
      margin-right: 11px;
    }
  }
}
