/* stylelint-disable */
.cr-mobile-wallet-item {
  display: flex;
  background: var(--body-background-color);
  padding: 10px 14px;
  justify-content: space-between;

  &__currency {
    text-transform: uppercase;
    color: var(--primary-text-color);
    padding-right: 5px;
    padding-left: 5px;
  }

  &__balance {
    align-self: center;
    color: var(--primary-text-color);
  }

  .cr-wallet-item__icon {
    margin: 0;
  }
}
