html.theme-dark .group-wWM3zP_M- {
  background-color: var(--trading-view-background);
}

html.theme-dark .chart-page .chart-container {
  background-color: var(--trading-view-background);
  border: var(--trading-view-border-color);
}

html.feature-no-touch.theme-dark .chart-controls-bar-buttons a:not(.disabled):hover {
  background: var(--trading-view-background);
}

html.theme-dark .chart-page .chart-container {
  background-color: var(--trading-view-background);
  border-color: var(--trading-view-border-color);
}

html.theme-dark .chart-page {
  background: var(--trading-view-background);
}
