.n-wallet-list {
    background-color: var(--background);
    display: flex;
    flex-direction: column;

    &__item {
        &:not(:first-child) {
            border-top: 1px solid var(--wallets-item-border-color);
        }
    }
}
