.pg-password-strength-tip {
  display: flex;
  flex-direction: column;
  padding-top: 14px;

  &-title {
    padding-bottom: 6px;
  }

  &-text {
    color: var(--primary-text-color);
    opacity: 0.72;
    padding-bottom: 2px;
  }
}
