.pg-change-password-form {
  display: flex;
  margin-left: calc(var(--gap) * 2);
  margin-top: calc(var(--gap) * 2);

  .cr-input {
    border-bottom: 1px solid #7b8c91;
    margin-right: calc(var(--gap) * 2);

    input {
      color: var(--dark-color);
      width: calc(var(--gap) * 12);
    }
  }

  &__label {
    color: var(--text-muted);
  }

  &__error {
    color: var(--order-error-color);
    margin: 0;
    margin-left: calc(var(--gap) * 2);
  }
}
