@import "../../lib/style/base.scss";

.n-deposit-crypto {
    display: flex;
    flex-direction: column;
    @include children-column-margin(calc(var(--gap) * 3));
    padding: calc(var(--gap) * 3);
    position: relative;

    &__blur {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
    }

    &__qa {
        display: flex;
        flex-direction: row;
        @include children-row-margin(calc(var(--gap) * 2));

        &-text {
            flex: 1;
            font-size: calc(var(--gap) * 2.3);
        }
    }

    &__address {
        display: flex;
        flex-direction: row;
        @include children-row-margin(calc(var(--gap) * 3));
        align-items: center;
    }

    &__metamask {
        margin-top: 0 !important;
    }

    &__copy {
        border: 1px solid var(--input-border-color);
        &:focus-within {
            border-color: var(--input-border-color-active);
        }
    }
}

/*
@media screen and (max-width: 768px) {
    .cr-deposit-crypto {
        padding: 0;

        .cr-deposit-info {
            text-align: center;
            width: 100%;
        }

        .cr-deposit-crypto__copyable-area {
            height: calc(var(--gap) * 5);
        }
    }
}
*/
