.pg-currentIEO-page {
  &__back {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    margin-bottom: calc(var(--gap) * 2);
    margin-top: calc(var(--gap) * 0.5);

    &-text {
      font-size: var(--font-size);
    }
  }
}
