.pg-currentIEO-page {
  &__back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: calc(var(--gap) * 2);
    margin-top: calc(var(--gap) * 0.5);
    cursor: pointer;

    &-text {
      font-size: var(--font-size);
    }
  }
}
