:root {
  --customization-background-color: #fff;
  --customization-dropdown-background-color: #ECF0F7;
  --customization-primary-text-color: #212121;
  --customization-contrast-text-color: #5B6488;
  --customization-primary-cta-color: #3C78E0;
  --customization-system-green: #54B489;
  --customization-system-red: #E85E59;
  --customization-divider-color: rgba(91, 100, 136, 0.12);
  --customization-icon-circle-border-color: rgba(172, 172, 172, 0.3);
  --customization-contrast-text-color-0-18: rgba(91, 100, 136, 0.18);
  --customization-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
}
