.pg-profile-page__activity-result-succeed {
    color: var(--green);
}

.pg-profile-page__activity-result-failed {
    color: var(--red);
}

.pg-history-elem {
    &__empty {
        text-align: center;
        color: var(--table-text-color);
    }

    &__pagination {
        padding: var(--gap) calc(var(--gap) * 2) !important;
    }
}