:root {
  --customization-background-color: #fff;
  --customization-background-cta-color: #f5f5f5;
  --customization-cta-color: #1fc1a7;
  --customization-cta-secondary-color: #ae0a04;
  --customization-primary-text-color: #000;
  --customization-text-contrast-color: #acacac;
  --customization-text-contrast-color-0-18: rgba(#acacac, 0.18);
  --customization-divider-color: #e1e1e1;
  --customization-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
  --customization-themes-circle-border-color: rgba(172, 172, 172, 0.3);
}
