@import "./Item/DocumentationModelsItem.pcss";

.pg-documentation-models {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px 20px 20px;
  width: 100%;

  h4 {
    align-items: center;
    color: var(--primary-text-color);
    display: flex;
    font-size: 18px;
    justify-content: flex-start;
    line-height: 28px;
    margin: 10px 0;
    text-transform: uppercase;
    width: 100%;
  }
}
