@import "./fonts.pcss";
@import "./themes/style.pcss";
@import "./colors.pcss";

@import '../components/IEOCard/IEOCard.pcss';
@import '../components/IEOProjectIntroduction/IEOProjectIntroduction.pcss';
@import '../components/IEODetails/IEODetails.pcss';
@import '../components/Blur/Blur.pcss';

@import '../containers/IEOInfo/IEOInfo.pcss';
@import '../containers/IEOListElement/IEOListElement.pcss';
@import '../containers/OrderIEO/OrderIEO.pcss';

