.pg-wallet-transfers {
  &__header {
    padding: 24px 12px;
    border-bottom: 1px solid var(--divider-color-level-2);

    &-title {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.44px;
      color: var(--primary-text-color);
    }
  }

  .cr-wallet-list {
    margin-top: 12px;
  }

  &__content {
    background: var(--tab-pabel-background-color);
    border-left: 1px solid var(--wallets-item-border-color);
    padding: 24px 42px !important;
  }
}
