@mixin children-row-margin($size: 0.5em) {
    > * {
        &:not(:last-child) {
            margin-right: $size;
        }
    }
}

// @include ;
@mixin children-column-margin($size: 0.5em) {
    > * {
        &:not(:last-child) {
            margin-bottom: $size;
        }
    }
}
