.modal-body__withdraw-submit {
    text-align: center;
}

.modal-footer__withdraw-submit {
    input {
        background: var(--kyc-button);
        border-radius: 4px;
        color: var(--color-white);
        cursor: pointer;
        font-size: calc(var(--gap) * 2.66);
        font-weight: normal;
        height: calc(var(--gap) * 5);
        margin: 0;
        text-align: center;

        &:hover {
            background: var(--button-hover);
        }
    }
}
