@import "./Offers/P2POffers.pcss";
@import "./TradesHistory/P2PTradesHistory.pcss";
@import "./UserOffers/P2PUserOffers.pcss";
@import "./OrderWaitPayment/OrderWaitPayment.pcss";
@import "./OrderWaitConfirmation/OrderWaitConfirmation.pcss";
@import "./Dispute/Dispute.pcss";
@import "./CreateOffer/ConfirmOfferModal/ConfirmOfferModal.pcss";
@import "./CreateOffer/CreateOffer.pcss";
@import "./P2PAlerts/P2PAlerts.pcss";
