.pg-layout {
  background: var(--main-background-color);
  color: var(--secondary-contrast-cta-color);
  min-height: calc(100vh - 95px);
  padding-left: 0;
  padding-right: 0;
  padding-top: calc(var(--gap) * 1.3);

  &--mobile {
    height: calc(100vh - 48px);
    max-width: 100vw;
    min-height: calc(100vh - 48px);
    min-width: 100vw;
    padding-top: 0;
    width: 100vw;
  }
}

.trading-layout {
  background: var(--main-background-color);
}
