.pg-layout {
  color: var(--base);
  background: var(--back-bg);
  min-height: calc(100vh - 95px);
  padding-right: 0;
  padding-left: 0;
  padding-top: calc(var(--gap) * 1.3);
}

.trading-layout {
  background: var(--trading-screen-background);
}
