.setup-form-block {
  width: 100%;

  &__title {
    color: var(--primary-cta-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
  }

  &__subtitle {
    color: var(--secondary-contrast-color);
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
  }

  &__children {
    width: 100%;
  }
}
