/*
Font: 		Metro Sans
Style: 		Bold
URL: 		https://www.youworkforthem.com/font/T8497/metro-sans
Foundry: 	Samuel Oakes
Foundry: 	https://www.youworkforthem.com/designer/889/samuel-oakes
Copyright:	Copyright © 2017 by Samuel Oakes. All rights reserved.
Version: 	17
Created:	February 24, 2020
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted
			from using the WebFonts(s) listed without a purchased license.
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'MetroSans-Bold';
	src: url('./styles/fonts/metro-sans-bold/webfonts/metro-sans-bold.eot');
	src: url('./styles/fonts/metro-sans-bold/webfonts/metro-sans-bold.eot?#iefix') format('embedded-opentype'),
             url('./styles/fonts/metro-sans-bold/webfonts/metro-sans-bold.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-bold/webfonts/metro-sans-bold.woff') format('woff'),
	     url('./styles/fonts/metro-sans-bold/webfonts/metro-sans-bold.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-bold/webfonts/metro-sans-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-BoldItalic';
	src: url('./styles/fonts/metro-sans-bold-italic/webfonts/metro-sans-bold-italic.eot');
	src: url('./styles/fonts/metro-sans-bold-italic/webfonts/metro-sans-bold-italic.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-bold-italic/webfonts/metro-sans-bold-italic.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-bold-italic/webfonts/metro-sans-bold-italic.woff') format('woff'),
	     url('./styles/fonts/metro-sans-bold-italic/webfonts/metro-sans-bold-italic.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-bold-italic/webfonts/metro-sans-bold-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-Book';
	src: url('./styles/fonts/metro-sans-book/webfonts/metro-sans-book.eot');
	src: url('./styles/fonts/metro-sans-book/webfonts/metro-sans-book.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-book/webfonts/metro-sans-book.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-book/webfonts/metro-sans-book.woff') format('woff'),
	     url('./styles/fonts/metro-sans-book/webfonts/metro-sans-book.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-book/webfonts/metro-sans-book.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-BookItalic';
	src: url('./styles/fonts/metro-sans-book-italic/webfonts/metro-sans-book-italic.eot');
	src: url('./styles/fonts/metro-sans-book-italic/webfonts/metro-sans-book-italic.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-book-italic/webfonts/metro-sans-book-italic.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-book-italic/webfonts/metro-sans-book-italic.woff') format('woff'),
	     url('./styles/fonts/metro-sans-book-italic/webfonts/metro-sans-book-italic.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-book-italic/webfonts/metro-sans-book-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-Light';
	src: url('./styles/fonts/metro-sans-light/webfonts/metro-sans-light.eot');
	src: url('./styles/fonts/metro-sans-light/webfonts/metro-sans-light.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-light/webfonts/metro-sans-light.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-light/webfonts/metro-sans-light.woff') format('woff'),
	     url('./styles/fonts/metro-sans-light/webfonts/metro-sans-light.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-light/webfonts/metro-sans-light.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-LightItalic';
	src: url('./styles/fonts/metro-sans-light-italic/webfonts/metro-sans-light-italic.eot');
	src: url('./styles/fonts/metro-sans-light-italic/webfonts/metro-sans-light-italic.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-light-italic/webfonts/metro-sans-light-italic.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-light-italic/webfonts/metro-sans-light-italic.woff') format('woff'),
	     url('./styles/fonts/metro-sans-light-italic/webfonts/metro-sans-light-italic.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-light-italic/webfonts/metro-sans-light-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-Medium';
	src: url('./styles/fonts/metro-sans-medium/webfonts/metro-sans-medium.eot');
	src: url('./styles/fonts/metro-sans-medium/webfonts/metro-sans-medium.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-medium/webfonts/metro-sans-medium.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-medium/webfonts/metro-sans-medium.woff') format('woff'),
	     url('./styles/fonts/metro-sans-medium/webfonts/metro-sans-medium.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-medium/webfonts/metro-sans-medium.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-MediumItalic';
	src: url('./styles/fonts/metro-sans-medium-italic/webfonts/metro-sans-medium-italic.eot');
	src: url('./styles/fonts/metro-sans-medium-italic/webfonts/metro-sans-medium-italic.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-medium-italic/webfonts/metro-sans-medium-italic.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-medium-italic/webfonts/metro-sans-medium-italic.woff') format('woff'),
	     url('./styles/fonts/metro-sans-medium-italic/webfonts/metro-sans-medium-italic.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-medium-italic/webfonts/metro-sans-medium-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-Regular';
	src: url('./styles/fonts/metro-sans-regular/webfonts/metro-sans-regular.eot');
	src: url('./styles/fonts/metro-sans-regular/webfonts/metro-sans-regular.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-regular/webfonts/metro-sans-regular.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-regular/webfonts/metro-sans-regular.woff') format('woff'),
	     url('./styles/fonts/metro-sans-regular/webfonts/metro-sans-regular.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-regular/webfonts/metro-sans-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-RegularItalic';
	src: url('./styles/fonts/metro-sans-regular-italic/webfonts/metro-sans-regular-italic.eot');
	src: url('./styles/fonts/metro-sans-regular-italic/webfonts/metro-sans-regular-italic.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-regular-italic/webfonts/metro-sans-regular-italic.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-regular-italic/webfonts/metro-sans-regular-italic.woff') format('woff'),
	     url('./styles/fonts/metro-sans-regular-italic/webfonts/metro-sans-regular-italic.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-regular-italic/webfonts/metro-sans-regular-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-Semi-Bold';
	src: url('./styles/fonts/metro-sans-semi-bold/webfonts/metro-sans-semi-bold.eot');
	src: url('./styles/fonts/metro-sans-semi-bold/webfonts/metro-sans-semi-bold.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-semi-bold/webfonts/metro-sans-semi-bold.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-semi-bold/webfonts/metro-sans-semi-bold.woff') format('woff'),
	     url('./styles/fonts/metro-sans-semi-bold/webfonts/metro-sans-semi-bold.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-semi-bold/webfonts/metro-sans-semi-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MetroSans-Semi-BoldItalic';
	src: url('./styles/fonts/metro-sans-semi-bold-italic/webfonts/metro-sans-semi-bold-italic.eot');
	src: url('./styles/fonts/metro-sans-semi-bold-italic/webfonts/metro-sans-semi-bold-italic.eot?#iefix') format('embedded-opentype'),
         url('./styles/fonts/metro-sans-semi-bold-italic/webfonts/metro-sans-semi-bold-italic.woff2') format('woff2'),
	     url('./styles/fonts/metro-sans-semi-bold-italic/webfonts/metro-sans-semi-bold-italic.woff') format('woff'),
	     url('./styles/fonts/metro-sans-semi-bold-italic/webfonts/metro-sans-semi-bold-italic.ttf') format('truetype'),
	     url('./styles/fonts/metro-sans-semi-bold-italic/webfonts/metro-sans-semi-bold-italic.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
