@import "./SetupFormBlock/SetupFormBlock.pcss";
@import "./SetupFormInput/SetupFormInput.pcss";
@import "./SetupGeneralSettingsForm/SetupGeneralSettingsForm.pcss";
@import "./SetupInfoBlock/SetupInfoBlock.pcss";
@import "./SetupLoginForm/SetupLoginForm.pcss";
@import "./SetupMarketsBlock/SetupMarketsBlock.pcss";
@import "./SetupRegisterForm/SetupRegisterForm.pcss";
@import "./SetupCongratsBlock/SetupCongratsBlock.pcss";
