.cr-calendar-picker {
  label {
    color: var(--secondary-text-color);
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .custom-picker-input {
    align-items: center;
    background-color: var(--input-background-color);
    border: none;
    border-radius: 4px;
    color: var(--secondary-text-color);
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    letter-spacing: 0.1px;
    min-width: 217px;
    padding: 20px;
  }
}
