.input-group > .form-control {
  background: transparent;
}

.cr-deposit-crypto__copyable-area {
  .input-group input {
    height: 36px;
    border-radius: 3px 0 0 3px;
    border: none;
  }
}

label {
  background: var(--email-form-bg);
  position: absolute;
  top: 0px;
  z-index: 5;
  margin-top: calc(var(--gap) * (-2));
}
