.cr-search {
  margin: var(--gap);
  padding: var(--gap);
  width: calc(100% - var(--gap) * 5);

  &__icon {
    padding: var(--gap);

    img {
      height: 17px;
      width: 17px;
    }
  }

  &__input {
    border: none;
    border-bottom: 1px solid var(--input-border);
    color: var(--primary-text-color);
    padding: var(--gap);

    &::placeholder {
      color: var(--secondary-text-color);
    }

    &:focus {
      outline: none;
    }
  }
}
