.pg-profile-page__row {
  form {
    .custom-control {
      .custom-switch {
        input {
          top: 25px;
        }
      }

      &-label {
        &:before {
          top: 27px;
          left: -39px;
          width: 33px;
          height: 18px;
          border-radius: 12px;
        }

        &:after {
          top: 29px;
          left: -34px;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
