.pg-documentation {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 8px;

  &__content {
    align-items: center;
    background: var(--body-background-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1140px;
    width: 100%;
  }
}
