.setup-form-block {
  width: 100%;

  &__title {
    color: var(--primary-cta-color);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
  }

  &__subtitle {
    color: var(--secondary-contrast-color);
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    padding-top: 22px;
  }

  &__children {
    width: 100%;
  }
}
