.pg-forgot-password-screen {
  display: flex;
  justify-content: center;
  height: calc(100vh - 59px);
  background: url(assets/images/background.svg);
  background-size: cover;
  .pg-forgot-password-screen__container {
    background: var(--transparent);
    padding-top: 20px;
  }
  .pg-forgot-password___form {
    width: 424px;
    margin: 0 auto;
  }
}
