:root {
  --ieo-header-bg: #28334e;
  --ieo-header-border: rgba(255, 255, 255, 0.2);
  --yellow: #ffd567;
  --progress-green: #0fdd81;
  --progress-bar: rgba(196, 196, 196, 0.3);
  --border-top: #46557d;
}
