.tooltip {
    .tooltip-inner {
        background: var(--main-background-color);
        border-radius: 4px;
        height: max-content;
        max-width: 259px;
        width: max-content;
        z-index: 10;
    }

    .arrow {
        display: none;
    }

    &__content {
        color: var(--primary-text-color);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.1px;
        line-height: 22px;
        padding: 14px 24px;
        text-align: left;
    }
}
