.pg-market-depth {
  //min-width: 400px;
  //min-height: 300px;
  width: 100%;
}
.pg-market-depth__title {
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  border-bottom: 1px solid var(--trading-header);
  padding-bottom: var(--gap);
}
.pg-market-depth__tooltip {
  display: flex;
  flex-direction: column;
}
