.pg-market-depth {
  max-height: 200px;
  width: 100%;
}
.pg-market-depth__title {
  font-size: 1em;
  width: 100%;
  border-bottom: 1px solid var(--trading-header);
}
.pg-market-depth__tooltip {
  display: flex;
  flex-direction: column;
}
