@font-face {
  font-family: Averta;
  src: url(./assets/fonts/Averta.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: Averta;
  src: url(./assets/fonts/Averta_Light.otf) format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: Averta;
  src: url(./assets/fonts/Averta_Semibold.otf) format('opentype');
  font-weight: bold;
}
