/* stylelint-disable */
.cr-mobile-wallet-withdraw {
  &__beneficiaries {
    background: var(--body-background-color);
    padding: 16px;

    .pg-beneficiaries__title {
      display: none;
    }
  }
}
