.pg-ieo-page {
  padding-top: calc(var(--gap) * 2.5);

  &__header {
    color: var(--color-white);
    font-size: calc(var(--gap) * 3.33);
    font-style: normal;
    font-weight: 500;
    margin: calc(var(--gap) * 3.83) 0;
  }
}
