.pg-ieo-page {
  padding-top: calc(var(--gap) * 2.5);

  &__header {
    font-style: normal;
    font-weight: 500;
    font-size: calc(var(--gap) * 3.33);
    color: var(--white);
    margin: calc(var(--gap) * 3.83) 0;
  }
}