.setup-form-block {
  width: 100%;

  &__title {
    color: var(--setup-info-font-color);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  &__subtitle {
    color: var(--setup-info-secondary-font-color);
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    padding-top: 22px;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  &__children {
    width: 100%;
  }
}
