.pg-confirm__content-identity {
    &__forms {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100%;
        height: max-content;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
