.pg-restricted-screen {
  align-items: center;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  height: calc(100vh - calc(var(--gap) * 9.84));
  justify-content: center;
  width: 100%;

  &__title {
    font-size: 144px;
    font-weight: bold;
    line-height: 76px;
    letter-spacing: 10px;
  }

  &__content {
    font-size: 36px;
    padding-top: 36px;
    font-weight: 300;
  }
}
