.pg-restricted-screen {
  align-items: center;
  background: var(--main-background-color);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  height: calc(100vh - calc(var(--gap) * 9.84));
  justify-content: center;
  width: 100%;

  &__title {
    h1 {
      font-size: 144px;
      font-weight: bold;
    }
  }

  &__content {
    font-size: 36px;
  }
}
