{
    "jsxBracketSameLine": true,
    "singleQuote": true,
    "printWidth": 120,
    "trailingComma": "all",
    "tabWidth": 4,
    "endOfLine": "auto",
    "semi": true,
    "tslintIntegration": true,
    "stylelintIntegration": true,
    "ignorePath": ".gitignore"
}
